.alert {
  @extend .d-flex;
  @extend .gap-3;
  @extend .align-items-center;

  border-left-width: .5rem;
  border-left-style: solid;

  &.alert-info {
    border-left-color: $info;
  }

  &.alert-warning {
    border-left-color: $warning;
  }

  &.alert-danger {
    border-left-color: $danger;
  }

  &.alert-status {
    border-left-color: $green;
  }

  ul {
    margin: 0;
  }
}
