html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
  background-color: #2c3849;
}

body {
  font-family: $font-family-primary;
  font-size:   $font-default;
  color:       $text-color;
  line-height: $font-default * 1.5;
  background-color: #f4f4ef;
}

a {
  color:            #3d6eb8;
  text-decoration:  none;
  cursor:           pointer;
  box-sizing:       border-box;
  padding:          0;
  border-bottom:    1px solid #d5d3e1;
}

// Rythm (lobotomized owl)
.page {
  p + p { margin-top: 1.5em; }
  * + * {
    margin-top: 1.5em;
  }

  // This is some stuff that I don't want to be effected by the lobotomized owl.
  //.highlighted,
  // #content,
  //.sidebar-first,
  //.sidebar_second,
  //.quickedit-field,
  h1,
  #block-parity-breadcrumbs li, main, #block-parity-breadcrumbs nav,
  #block-parity-main-menu li, .field-value, br, .footer-second, .slogan {
    margin-top: 0;
  }

  .logo {
    margin-top: inherit;
  }
}

footer .quickedit-field {
  margin: 0;
}

.page ul li + li,
.page ol li + li {
  margin-top: 0.5em;
}
