.page {
  > footer {
    background-color: $primary-color;
    border-top: $font-default / 3 lighten($primary-color, 20%) solid;
    padding-top: $font-default;
    padding-bottom: $font-default;
    color: $primary-contrast;

    a { color: $primary-contrast; }

    .footer-directions {
      margin-top: 0;
      > a, > address {
	margin: 0 $font-default 0 0;
	display: inline-block;
      }
          
      
    }
  }
}
#hcpss-gmaps-footer-icon {
  width: 120px;
  height: 120px;
}