main + footer {
  margin-top: 30px;
}

.layout > footer {
  background-color: #2c3849;
  border-top: 5px solid #3494D2;
  color: white;
  font-size: 22px;
  
  p { margin: 0; }
}

footer .footer-wrap {
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 40px;
  margin-left: 40px;
  max-width: 1280px;

  @media screen and (min-width: 1100px) {
    float: none;
    width: 100%;
    max-width: 1280px;
  }
}

footer .footer-wrap address {
  font-style: normal;
}

footer a {
  color: white;
}

footer .footer-social-icons {
  font-size: 42px;
  display: flex;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 0;
  @include susy-breakpoint($large) {
    padding-left: 0px;
    font-size: 84px;
  }
}

.page footer .footer-social-icons li {
  @include susy-breakpoint($large) {
    margin-left: 25px;
    margin-right: 25px;
  }
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  
  a { border-bottom: none; }
}

footer .contents {
  @include container;
  .col-left, .col-right {
    @include span(12);
    @include susy-breakpoint($x-large) {
      @include span(6);
    }
  }
}
