.news-navigation {
  @include container;
  margin-top: 0px;
  padding-bottom: 15px;
  padding-top: 15px;
  min-height: 60px;
  
  border-bottom: 1px #ccc solid;
  
  @media screen and (max-width: $x-large) {
    float: none;
    border-bottom: 1px solid red;
    border-top: 5px solid #9eb4dd;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    text-transform: uppercase;
    font-size: 52px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 0;
    padding-top: 20px;
    float: left;
    @media screen and (max-width: $x-large) {
      float: none;
      font-size: 40px;
      margin-left: 10px;
    }
  }
  
  .hcpss-logo {
    width: 50px;
    vertical-align: top;
    margin-top: -8px;
    @media screen and (max-width: $x-large) {
      width: 40px;
      margin-top: -7px;
    }
  }
}

.news-navigation--separator {
  color: #9eb4dd;
  font-weight: 600;
}

.news-navigation--section {
  font-weight: 500;
}

.news-navigation .fa-search {
  display: inherit;
}

.news-navigation nav {
  float: right;
  margin-top: 0;
  @media screen and (max-width: $x-large) {
    float: none;
  }
}

.news-navigation > .region-header > .block-system-branding-block > nav > ul {
  display: flex;
  list-style: none;
  @media screen and (max-width: $x-large) {
    padding-left: 0px;
  }
}

.news-navigation > .region-header > .block-system-branding-block > nav > ul > li {
  text-transform: uppercase;
  @media screen and (max-width: $x-large) {
    font-size: 18px;
    margin-left: 8px;
    margin-right: 8px;
  }
  @media screen and (min-width: $x-large) {
    font-size: 28px;
    margin-left:15px;
    margin-right: 15px;;
  }
  
  a {
    border-bottom: none;
    color: rgb(100, 167, 60);
  }
}

.slogan {
  font-weight: normal;
  font-size: $font-large;
  text-transform: none;
}
