* {
  box-sizing: border-box;
}

.inner-footer {
  display: flex;
  margin: 0 auto;
}

.layout > footer {
  padding-bottom: 20px;
}

.page .region {
  margin-top: 0;
}

main {
  @include container;
}

.breadcrumb, .highlighted {
  @include span(12);
}

.page > main {
  > .sidebar-first, > #content, > .sidebar-second {
    margin-top: 1rem;   
  }   
}

.layout {
  .sidebar-first, .sidebar-second {
    @include span(12);
    @media screen and (min-width: $medium) {
      @include span(3);
    }
  }

  &.two-sidebars #content {
    @include span(12);
    @media screen and (min-width: $medium) {
      @include span(6);
    }
  }

  &.one-sidebar #content {
    @include span(12);
    @media screen and (min-width: $medium) {
      @include span(9);
    }
  }

  &.no-sidebars #content {
    @include span(12);
  }
}
