.inner-header, main, .inner-footer {
  @include container;
  margin: 0 auto;
}

.page .region {
  margin-top: 0;
}

main {
  position: relative;
  top: $font-default * -2.1;
}

.breadcrumb, .highlighted {
  @include span(12);
}

.page > main {
  > .sidebar-first, > #content, > .sidebar-second {
    margin-top: 1rem;   
  }   
}

.layout {
  > header {
    @include span(12);
  }
    
  .sidebar-first, .sidebar-second {
    @include span(12);
    @include susy-breakpoint($medium) {
        @include span(3);
    }
  }

  &.two-sidebars #content {
    @include span(12);
    @include susy-breakpoint($medium) {
        @include span(6);
    }
  }

  &.one-sidebar #content {
    @include span(12);
    @include susy-breakpoint($medium) {
        @include span(9);
    }
  }

  &.no-sidebars #content {
    @include span(12);
  }

  .footer-first, .footer-second {
    @include span(12);
    @include susy-breakpoint($x-large) {
        @include span(6);
    }
  }
}
