table{
  tr {
    &:nth-child(even) {
      background-color: white;
    }

    th {
      background-color: $secondary-color;
      color: white;
      a { color: white }
      text-align: left;
    }

    td, th {
      padding: $font-default / 2 $font-default;
    }
  }
}
