.file-list ul li {
  margin: 0;
}

.file--application-pdf {
  background-image: url(/core/themes/classy/images/icons/application-pdf.png);
}

.file {
  padding-right: 20px;
  display: inline-block;
  min-height: 16px;
  background-repeat: no-repeat;
  background-position: right center;
}

.views-view-grid.horizontal {
  .views-col {
    margin-top: 0;
  }
  .views-row {
    margin-top: 0;
  }
}

.views-view-grid.vertical {
  .views-col {
    margin-top: 0;
  }
  .views-row {
    margin-top: 0;
  }
}

.item-list {
    h3 {
        font-weight: $font-weight--ultra-bold;
        font-size: 1em;
        margin: 0;
    }

    ul {
        margin-top: $font-default / 2;
        li {
            margin: 0;
        }
    }
}

// .views-view-grid.horizontal .views-row .views-col {
//   margin-right: 2rem;
// }

.page .view-content .views-row {
  margin-top: inherit;
}

.page .views-element-container > .grid.three-column {
  > .view-content {
    .views-row { margin-bottom: $font-default * 2; }
      
    display: block;
    ul li {
      margin-top: 0;  
    }
    
    @media only screen and (min-width: $medium) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $font-default / 2;
      margin-bottom: 0;
      
      .views-row { margin-bottom: 0; }
    }
  }
  
  .view-content {
    margin-top: 0;
  }
}
