$white:    #fff !default;
$gray-100: #f8f8f5 !default;
$gray-200: #f4f4ef !default;
$gray-300: #d6d7d2 !default;
$gray-400: #a8a8a5 !default;
$gray-500: #878684 !default;
$gray-600: #757673 !default;
$gray-700: #444443 !default;
$gray-800: #2f2f2d !default;
$gray-900: #141413 !default;
$black:    #000 !default;

$blue:    #3d6eb8 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #e09600 !default;
$green:   #64a73c !default;
$teal:    #20c997 !default;
$cyan:    #3494D2 !default;

$primary:       $blue !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   4.5 !default;

// Options
$enable-rounded: false !default;

// Body
$body-color:    $gray-800 !default;
$body-bg: $gray-200 !default;

// Fonts
$font-family-sans-serif:    "Source Sans Pro",sans-serif !default;
$headings-font-weight:      400 !default;
$headings-font-family: "Open Sans",sans-serif;

// Navbar
$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($black, .9) !default;

// Alerts
$alert-border-width:            1 !default;

// Progress bars
$progress-height:               .5rem !default;

// 18px base font size.
$font-size-base: 1.125rem;
$border-color: #cccccc;
$blue: #3d6eb8;
$table-striped-bg: #ffffff;
$light-blue: lighten($blue, 30%);
$dark-blue: darken(desaturate($blue, 25%), 25%);


@import "../node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "alerts";
@import "footer";
@import "form";

.font-open {
  font-family: "Open Sans", sans-serif;
}

.font-source {
  font-family: "Source Sans Pro",sans-serif;
}

.text-light-blue {
  color: $light-blue;
}

.text-green {
  color: $green;
}

.hcpss-logo {
  width: 50px;
}
