// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
//@import "../node_modules/bootstrap/scss/functions";
//
//// 2. Include any default variable overrides here
//
//// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/variables-dark";
//
//// 4. Include any default map overrides here
//
//// 5. Include remainder of required parts
//@import "../node_modules/bootstrap/scss/maps";
//@import "../node_modules/bootstrap/scss/mixins";
//@import "../node_modules/bootstrap/scss/root";
//
//// 6. Optionally include any other parts as needed
//@import "../node_modules/bootstrap/scss/utilities";
//@import "../node_modules/bootstrap/scss/reboot";
//@import "../node_modules/bootstrap/scss/type";
//@import "../node_modules/bootstrap/scss/images";
//@import "../node_modules/bootstrap/scss/containers";
//@import "../node_modules/bootstrap/scss/grid";
//@import "../node_modules/bootstrap/scss/helpers";
//
//// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
//@import "../node_modules/bootstrap/scss/utilities/api";

// 18px base font size.
$font-size-base: 1.125rem;
$border-color: #cccccc;
$blue: #3d6eb8;
$table-striped-bg: #ffffff;
//$h1-font-size:                $font-size-base * 2.85;



@import "../node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";

// 8. Add additional custom code here

$light-blue: #9eb4dd;
$text-green: #64a73c;
$dark-blue: #2c3849;

:root,
[data-bs-theme=light] {
  --bs-body-color: #515151;
  --bs-body-bg: #f4f4ef;
}

body {
  font-family: "Source Sans Pro",sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro",sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
}

.font-open {
  font-family: "Open Sans", sans-serif;
}

.font-source {
  font-family: "Source Sans Pro",sans-serif;
}

.text-light-blue {
  color: $light-blue;
}

.text-green {
  color: $text-green;
}

.alert-status {
  @extend .alert-success;
}

input.form-control {
  background-color: white;
}

.site-footer {
  border-top: 5px $blue solid;
  background-color: $dark-blue;
  color: white;
  margin-top: 5rem;
  padding: 1rem 0;
}